.customers{
  width: 100%;
  background-image: url(../images/home-customer-bg.bb81a00b.png);
  background-position: center bottom;
  background-size:cover contain;
  background-repeat: no-repeat;
  margin: 150px 0 130px;
  padding-bottom: 134px;
}

.customers h3{
  text-align: center;
  font-size: 34px;
}

.customers p{
  text-align: center;
  font-size: 24px;
  margin: 5px 0 25px;
}

.customers .customers_cards{
  width: 98%;
  display: flex;
  justify-content: center;
  margin: 40px auto 0;
  gap: 16px;
}

.customers .customers_cards .customers_card{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18.5%;
  padding: 34px 0;
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid #bcbcbc;
  border-radius: 20px;
}

.customers .customers_cards .customers_card .customers_logo_holder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.customers .customers_cards .customers_card .customers_logo_holder p{
  padding: 0;
  margin: 0;
  font-size: 19px;
}